body {
	background-color:#000000;
	color:#FFFFFF;
	font-family:'Arial Black';	
}

h1 {
	font-size:16pt;	
}

#pong{
	border:1px solid #FFFFFF;
}

div#score{
	width: 400px;
}

div#score .player{
	float:left;
}

div#score .opponent{
	float:right;
}

.wrapper{
	margin-left:40px;
}

p.error{color:#F53A2C;width: 200px;font-size:10pt;}
input.error{background-color: #F5837B}

div.cloumn{float:left;margin-right: 20px;}