body {
	background-color:#000000;
	color:#FFFFFF;
	font-family:'Arial Black';	
}

h1 {
	font-size:16pt;	
}

#pong{
	border:1px solid #FFFFFF;
	margin-left:40px;
	
}
ul.score{
	font-size:12pt;	
	width: 400px;
	list-style:none;
}
ul.score li#playerScore{
	float:left;
}
ul.score li#opponentScore {
	float:right;
}
