{% extends 'layout.html' %}
{% block content %}
	<h1>Login</h1>
	<div class='cloumn'>
		<form method="post" action="/login" >
			<p><input type="test" name="Nick" placeholder='Nick' value='{{ Nick }}' {% if errorField == "nick" %} class="error"{% endif %}/></p>
			<p><input type="password" name="Password" placeholder='password' value='{{ Password }}' {% if errorField == "password" %} class="error"{% endif %}/></p>
			<p><input type="submit"  value="enter" /></p>
		</form>
	</div>
	<div class='cloumn'>
		<p class='error'>{{ msg }}</p>
	</div>
{% endblock %}
