{% extends 'layout.html' %}
{% block externalJS %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/swig/swig.min.js"></script>
<script type="text/javascript" src="/js/pong.min.js"></script>
{% endblock %}

{% block inlineJS %}

yags=new YagsClient({{ wsPort }});

{% endblock %}

{% block content %}
<h1>Player online:</h1>
<div ><a href="/logout">logout</a></div>
<table>
	<tr>
		<th>Nick</th>
		<th>Score</th>
		<th></th>
	</tr>
<table>
{% endblock %}