{% extends 'layout.html' %}
{% block externalJS %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/swig.min.js"></script>
<script type="text/javascript" src="/js/pong.min.js"></script>
<script type="text/javascript" src="/views/opponentsList"></script>
{% endblock %}

{% block inlineJS %}

{% if RefuseHash %}

	YagsClient.init('{{ Host }}', {{ wsPort }}, '{{ UserHash }}', '{{ RefuseHash }}','{{ remoteEvent }}');

{% else %}

	YagsClient.init('{{ Host }}', {{ wsPort }}, '{{ UserHash }}');

{% endif %}

{% endblock %}

{% block content %}

{% if RefusedNick %}
<p> Your challange was refused by {{ RefusedNick }}</p>
{% endif %}

<h1>Player online:</h1>
<div ><a href="/logout">logout</a></div>
<table>
	<thead>
		<tr>
			<th>Nick</th>
			<th>Score</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
<table>
{% endblock %}