{% extends 'layout.html' %}
{% block externalJS %}
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/pong.min.js"></script>
{% endblock %}

{% block inlineJS %}
	var settings={};
	{% if OpponentHash %}
		YagsClient.init('{{ Host }}', {{ wsPort }}, '{{ UserHash }}', '{{ OpponentHash }}','{{ remoteEvent }}');
		settings['player_side']={{ player_side }};
		settings['opponent_side']={{ opponent_side }};
	{% endif %}

	$(document).ready(
		function(){
			$('#pong').pong(settings);
	});

{% endblock %}

{% block content %}
<div class='wrapper'>
	<h1>{{ title }} </h1>
	<canvas id='pong' width="400" height="300">
	</canvas>
	<div id="score">
		<div class='player'>
			<div>{{ PlayerNick }}</div>
			<div id='playerScore'>0</div>
		</div>
		<div class='opponent'>
			<div>{{ OpponentNick }}</div>
			<div id='opponentScore'>0</div>
		</div>
	</div>
	{% if OpponentHash %}
		<div style='clear:both;'><a href="/opponents?refuse={{ OpponentHash }}">quit</a></div>
	{% else %}
		<div style='clear:both;'><a href="/opponents">quit</a></div>
	{% endif %}
</div>
{% endblock %}