{deps, [
        {leptus, ".*", {git, "git://github.com/s1n4/leptus.git", {branch, "master"}}},
        {erlsha2, ".*", {git, "git://github.com/vinoski/erlsha2.git",{branch, "master"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}, 
        {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}  
       ]}.
{clean_files, ["test/*.beam"]}.
